<!DOCTYPE html>
<html>
<head>
  <title>CiaWorldFactbookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li> <%= link_to('Countries', countries_path)%></li>
    <li> <%= link_to('New Country', new_country_path)%></li>
  </ul>
</nav>



  <%= form_tag(countries_path, method: "get") do %>
    <%= label_tag(:name, "Search for:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
  <% end %>


<%= yield %>

<br>
<%= link_to 'Back', countries_path %>

</body>
</html>
